.advatages__wrapper {
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.advantages__caption,
.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 0;
}

.advantages__caption {
  padding-top: 32px;
}

.advantages__text {
  line-height: 26px;
  text-align: center;
  color: @grey_text;
  margin: 0;
  padding: 30px 0 10px 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr min-content min-content;
  }
}

.advantages__item:first-child {

  .advantages__box {
    padding: 67px 12px 39px 13px;
  }

  @media (max-width: @mobile-width-only) {
    position: relative;
    &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 37px;
    background-image: url("../img/white_copy.svg");
    }
  }


  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
  }

  .advantages__box {

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  .advantages__image {
    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
}

.advantages__features {
  margin: 0;
  padding: 35px 0 30px 70px;
  list-style: none;

  @media (min-width: @tablet-width) {

  }
}

.advantages__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages__box {
    padding: 38px 16px 34px 15px;

    @media (min-width: @tablet-width) {
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }

  .advantages__image:nth-child(2) {
    @media (min-width: @tablet-width) {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 1;
      grid-column-end: 3;
    }
  }
}

.advantages__box {
  background-color: @bg_blue;
  color: @white;

  @media (min-width: @tablet-width) {
    padding: 40px 32px;
  }
}

.advantages__item:nth-of-type(n+3) {
  background-color: @bg_grey;
  border-bottom: 1px solid @border_grey;
  padding: 22px 20px 25px;
}

.advantages__item:last-child {
  border-bottom: 0;
}

.advantages__number {
  display: block;
  text-align: center;
  padding: 15px;
}

.advantages__description {
  text-align: center;
  margin: 0;
  padding: 0;
}

.features__item {
  position: relative;
}

.features__item--home::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -49px;
  right: auto;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    top: 10px;
    left: 40%;
  }
}

.features__item--gift::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -45px;
  right: auto;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features__item--food::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -52px;
  right: auto;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

