.advantages__wrapper {
  padding-top: 32px;
}

.advantages__caption,
.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.advantages__caption {
  padding: 0 24px;

  @media (min-width: @tablet-width) {
    padding-top: 11px;
  }
}

.advantages__text {
  line-height: 26px;
  text-align: center;
  color: @grey_text;
  margin: 0;
  padding: 30px 9px 10px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr min-content min-content;
    margin-top: 45px;
  }
}

.advantages__item:first-child {

  .advantages__box {
    @media (max-width: @mobile-width-only) {
      padding: 73px 12px 38px 13px;
    }

    @media (min-width: @tablet-width) {
      padding-top: 40px;
    }
  }

  @media (max-width: @mobile-width-only) {
    position: relative;
    &::before {
    content: "";
    display: block;
    position: absolute;
    min-width: 320px;
    width: 100%;
    height: 37px;
    background-image: url("../img/white_copy.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
  }
}
  .advantages__box {
    background-color: @bg_blue;
    color: @white;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  .advantages__image {
    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  .advantages__image img {
    display: block;
  }

.advantages__features {
  margin: 0;
  padding: 35px 0 10px 70px;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 70px 25px;
  }
}

.advantages__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .advantages__box {
    padding: 38px 16px 34px 15px;

    @media (min-width: @tablet-width) {
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }

  .advantages__image:nth-child(2) {
    @media (min-width: @tablet-width) {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 1;
      grid-column-end: 3;
      height: 256px;
    }
  }
}

.advantages__item:nth-of-type(n+3) {
  background-color: @bg_grey;
  border-bottom: 1px solid @border_grey;
  padding: 25px 20px;
}

.advantages__item:last-child {
  border-bottom: 0;
}

.advantages__number {
  display: block;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 18px;
}

.advantages__description {
  text-align: center;
  margin: 0;
  padding: 0 12px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 7px 16px 0;
    br {
      display: none;
    }
  }
}

.advantages__break {

  @media(min-width: @tablet-width) {
    display: none;
  }
}
