.catalog__description {
  line-height: 24px;
  text-align: left;
}

.catalog__author {
  font-size: 14px;
  line-height: 24px;
  color: @grey_text;
  text-transform: none;
}

.catalog__counter {
  line-height: 24px;
  font-weight: bold;
  padding-left: 20px;
}
