.copyright__text {
  font-weight: normal;
  line-height: 26px;
  margin-right: 38px;

  @media (min-width: @tablet-width) {
    margin-right: 42px;
  }
}

.copyright__link {
  display: block;
  color: @black;

  &:hover,
  &:focus {
    color: @bg_blue;
  }

  &:active {
    color: fade(@black, 30%);
  }
}
