.features {
  background-color: @white;
  color: @black;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.features__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.features__text {
  color: @grey_text;
}
