.features {
  background-color: @white;
  color: @black;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 4;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.features__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.features__text {
  color: @grey_text;
}

.features__item {
  margin-bottom: 28px;


  @media (min-width: @tablet-width) {
    padding: 45px 0;
    text-align: center;
  }
}
