.page-form__fieldset {
  border: none;
  border-bottom: 1px solid @border_form;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
}

.page-form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.page-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.page-form__item {
  margin-bottom: 20px;
}

.page-form__desc {
  line-height: 26px;
  color: @grey_text;
  padding-right: 10px;
}

.page-form__field {
  border: none;
  background-color: @bg_input;
  padding: 18px 20px 14px 22px;
}

.page-form__field::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: @black;
}

.page-form__comment {
  background-color: @bg_input;
  border: none;
  padding: 13px 29px 23px 21px;
  width: 100%;
}

.page-form__comment::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: @black;
}
