.intro {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
}

.intro__wrapper {
  width: auto;
  height: 387px;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 85px;
}
