.intro {
  background-color: @bg_grey;
  background-image: url("../img/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 57px;
    background-image: url("../img/intro-triangle.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-desktop@2x.jpg");
  }
}

.intro__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  padding-top: 90px;
  padding-bottom: 85px;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-bottom: 91px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 78px;
    padding-bottom: 90px;
  }
}

.intro__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 67px;

  @media (min-width: @tablet-width) {
    padding-top: 95px;
    padding-bottom: 116px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
    padding-bottom: 123px;
  }
}

.intro__position {
  @media (max-width: @mobile-width-only) {
    background-position: top left;
  }

  background-position: 0 100%;
}

.intro__img {
  @media (min-width: @tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.intro__logo {
  @media (min-width: @tablet-width) {
    width: 457px;
    height: 78px;
  }
}
