.main-nav {
  position: relative;
  margin-bottom: 56px;
}

.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    width: 768px;
    background-color: @white;
    color: @black;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: @white;
  background-color: @bg_blue;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: @white;
    color: @black;
    font-size: 14px;
    line-height: 26px;
  }
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    padding-top: 10px;
    padding-bottom: 6px;

    &:hover {
      background-color: @link_hover;
    }

    &:active {
      background-color: @link_active;
      color: fade(@white, 30%);
    }
  }

  @media (min-width: @tablet-width) {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 14px;

    &:hover {
      color: @bg_blue;
    }

    &:active {
      color: fade(@black, 30%);
    }
  }
}

.main-nav__link--active {
  @media (min-width: @tablet-width) {
    color: @menu-active;
    mix-blend-mode: normal;

    &:hover,
    &:active {
      color: @menu-active;
    }
  }
}

.main-nav__item {
  mix-blend-mode: normal;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: @tablet-width) {
    width: 156px;
    box-shadow: none;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 239px;
  }
}

.main-nav__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}

.main-nav__item:nth-child(3) {
  @media (min-width: @tablet-width) {
    margin-left: auto;
    padding-left: 16px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.main-nav__item:last-child {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  display: block;
  z-index: 2;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 24px;
  height: 4px;
  background-color: @bg_blue;
  box-shadow: 0 9px 0 0 @bg_blue, 0 18px 0 0 @bg_blue;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: fade(@bg_blue, 60%);
  box-shadow: 0 9px 0 0 fade(@bg_blue, 60%),
    0 18px 0 0 fade(@bg_blue, 60%);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@bg_blue, 30%);
  box-shadow: 0 9px 0 0 fade(@bg_blue, 30%),
    0 18px 0 0 fade(@bg_blue, 30%);
}

.main-nav--opened .main-nav__toggle {
  top: 17px;
  left: auto;
  right: 19px;
  width: 23px;
  height: 23px;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -1px;
    width: 27px;
    height: 4px;
    background-color: @white;
    mix-blend-mode: normal;
  }

  &::before {
    transform: rotate(45deg);
    mix-blend-mode: normal;
    box-shadow: 0 4px 4px fade(@black, 25%);
  }

  &::after {
    transform: rotate(-45deg);
    mix-blend-mode: normal;
    box-shadow: 0 4px 4px fade(@black, 25%);
  }

  &:hover::before,
  &:hover::after {
    background-color: fade(@white, 60%);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@white, 30%);
    border: none;
  }
}

.main-nav--opened .main-nav__wrapper::before {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 7px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    mix-blend-mode: normal;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
