.order__wrapper {
  padding: 30px 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 80%;
    margin: 0 auto;
  }
}

.order__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.order__description {
  line-height: 24px;
  color: @grey_text;
  margin: 22px 0 27px;
}

.order__map {
  margin: 0;
  margin-top: 20px;
  border: none;
  width: 100%;
  display: block;
}
