.page-header {
  min-height: 56px;
  position: relative;
  background-color: @white;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 56px;
  }
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -28px;
  height: 84px;
  order: 2;
  text-align: center;
  z-index: 10;

  @media (min-width: @tablet-width) {
    top: 0;
  }
}
