.page-footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

.page-footer__wrapper {
  text-align: center;

  @media (max-width: @mobile-width-only) {
    padding: 40px 20px 20px 20px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.page-footer__heshtag {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.copyright__text {
  font-weight: normal;
  line-height: 26px;
  margin-right: 38px;
}

.page-footer__social {
  padding: 0;
  margin: 32px 0 45px 3px;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin: 36px 5px 35px 0;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: @bg_blue;
  margin-right: 6px;

  &:hover {
    background-color: @link_hover;
  }

  &:active {
    background-color: @link_active;

    .social__icon {
      fill: fade(@white, 30%);
    }
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  position: relative;
}

.copyright__link {
  color: @black;

  &:hover {
    color: @bg_blue;
  }

  &:active {
    color: fade(@black, 30%);
  }
}

.page-footer__icon {
  position: absolute;
  top: -4px;
  right: 27%;
  fill: currentColor;

  @media (min-width: @tablet-width) {
    top: -4px;
    right: 1%;
  }
}
