.page-form__wrapper {
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 62px;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 112px;
    padding: 0 120px;
  }
}

.page-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.page-form__text {
  margin: 0;
  line-height: 24px;
  color: @grey_text;
  padding: 30px 0 17px;
  border-bottom: 1px solid @border_form;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 34px 0 20px;
    border-bottom: 0;
  }
}
