.page-catalog__wrapper {
  padding: 30px 20px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 63px 60px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 0 0;
  }
}

.page-catalog__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: @black;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.page-catalog__text {
  line-height: 24px;
  color: @grey_text;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 32px;
  border-bottom: 1px solid @border_form;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 35px;
    padding-bottom: 76px;
  }
}

.page-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__button--like {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 23px;
  height: 21px;
  margin-right: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: @desktop-width) {
    fill: @white;
  }
}
