.page-footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

.page-footer__wrapper {
  padding: 30px 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__heshtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.copyright__text {
  font-weight: normal;
  line-height: 26px;
}

.page-footer__social {
  padding: 0;
  margin: 0;
  list-style: none;
}
