.page-form form {
  @media (min-width: @tablet-width) {
    display: grid;
    padding-top: 75px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
      "impression name"
      "contacts contacts"
      "attractions attractions"
      "comments comments"
      "footer footer";
  }

  @media (min-width: @desktop-width) {
    padding-top: 57px;
  }
}

.page-form__wrapper {
  padding: 35px 20px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 72px 60px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 112px 120px 0;
  }
}

.page-form__title {
  font-size: 18px;
  margin: 0;
  line-height: 26px;
  font-weight: 700;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.page-form__text {
  padding-top: 28px;
  padding-bottom: 18px;
  line-height: 24px;
  margin: 0;
  border-bottom: 1px solid @border_form;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 34px;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-form__footer {
  grid-area: footer;
  padding: 43px 0 38px;

  @media (min-width: @tablet-width) {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 51px 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 48px 0 65px;
  }
}

.page-form__fieldset {
  border: none;
  border-bottom: 1px solid @border_form;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 4px;

  &:last-of-type {
    border-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    border-bottom: 0;
  }
}

.page-form__fieldset--full-name {
  grid-area: name;

  .page-form__item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 56px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }

  .page-form__list {
    @media (min-width: @tablet-width) {
      margin-top: 57px;
    }
  }

  .page-form__field:hover {
    background-color: @border_form;
  }

  .page-form__field:focus {
    background-color: @white;
    outline: 4px solid @border_form;
    outline-offset: -4px;
    line-height: 26px;
    font-size: 18px;
  }

  .page-form__legend {
    @media (min-width: @tablet-width) {
      padding: 0;
      margin: 0;
      margin-right: auto;
    }
  }
}

.page-form__fieldset--contacts {
  grid-area: contacts;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 14px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 48px;
    border-top: 1px solid @field_grey;
    padding-bottom: 0;
  }

  .page-form__legend {
    padding: 20px 0 15px;

    @media (min-width: @tablet-width) {
      padding: 0 62px;
    }
  }

  .page-form__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;

    @media (min-width: @tablet-width) {
      margin-top: 20px;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      min-height: 58px;
      margin-top: 72px;
    }
  }

  .page-form__item {
    margin-bottom: 12px;

    @media (min-width: @tablet-width) {
      margin-bottom: 22px;
    }

    @media (min-width: @desktop-width) {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0;
      height: 58px;
      width: 480px;
    }
  }

  .page-form__desc {
    margin: 0;
    padding-left: 23px;
    padding-bottom: 9px;

    @media (min-width: @desktop-width) {
      padding: 0;
      margin-right: 15px;
    }
  }

  .page-form__field {
    @media (min-width: @desktop-width) {
      width: 65%;
    }
  }
}

.page-form__fieldset--impression {
  grid-area: impression;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 43px;
  }

  @media (min-width: @tablet-width) {
    border-right: 1px solid @field_grey;
    padding-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    text-align: left;
  }

  .page-form__legend {
    padding: 20px 0 35px;

    @media (min-width: @tablet-width) {
      padding: 0;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      margin-left: 80px;
    }
  }

  .page-form__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 165px;

    @media (min-width: @tablet-width) {
      min-height: 182px;
      margin-top: 73px;
    }
  }

  .page-form__item {
    padding-left: 77px;
  }
}

.page-form__fieldset--attractions {
  grid-area: attractions;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 38px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 28px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 52px;
    padding-bottom: 51px;
  }

  .page-form__legend {
    padding: 15px 0 35px;

    @media (min-width: @tablet-width) {
      padding: 0 62px;
    }
  }

  .page-form__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 268px;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 455px;
      min-height: 176px;
      margin: 0 auto;
      margin-top: 28px;
    }

    @media (min-width: @desktop-width) {
      width: 100%;
      justify-content: space-between;
      min-height: 50px;
      margin-top: 44px;
    }
  }

  .page-form__item {
    padding-left: 80px;
    margin: 0;
    display: flex;
    align-items: center;

    @media (min-width: @tablet-width) {
      margin: 0;
      min-width: 200px;
    }

    @media (min-width: @desktop-width) {
      min-width: 205px;
      max-width: 230px;
      flex-grow: 1;
      min-height: 56px;
      margin-bottom: 15px;
      margin-right: 53px;
    }
  }

  .page-form__item:nth-child(3n) {
    @media (min-width: @desktop-width) {
      margin-right: 33px;
    }
  }

  .page-form__item:nth-child(4n) {
    @media (min-width: @desktop-width) {
      margin-right: 0;
    }
  }
}

.page-form__fieldset--comments {
  grid-area: comments;

  .page-form__legend {
    @media (max-width: @mobile-width-only) {
      padding: 18px 0 15px;
    }

    @media (min-width: @tablet-width) {
      padding: 0 76px;
    }
  }

  @media (min-width: @tablet-width) {
    border-top: 1px solid @field_grey;
  }
}

.page-form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding: 20px 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.page-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.page-form__desc {
  line-height: 26px;
  color: @grey_text;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.page-form__field {
  width: 100%;
  padding: 17px 0 15px 22px;
}

.page-form {
  &__field,
  &__comment {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    border: none;
    color: @black;
    opacity: 1;
    background-color: @bg_input;
  }
}

.page {
  &-form__field::placeholder,
  &-form__comment::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    color: @black;
    opacity: 1;
  }
}

.page-form__comment {
  padding: 13px 15px 18px 20px;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-top: 17px;
    margin-top: 55px;
  }
}

.radio__desc,
.checkbox__desc {
  position: relative;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.page-form__button {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.page-form__note {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    text-align: right;
  }
}

.page-form__desc--phone {
  position: relative;

  @media (min-width: @desktop-width) {
    padding: 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    top: 35px;
    right: 0;
    background-color: @bg_icon;
    background-image: url("../img/phone.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 5;

    @media (min-width: @desktop-width) {
      top: 0;
      left: 500%;
    }
  }
}

.invisible {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-form__desc--email {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    top: 35px;
    right: 0;
    background-color: @bg_icon;
    background-image: url("../img/mail.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 5;

    @media (min-width: @desktop-width) {
      top: 0;
      left: 290%;
    }
  }
}

.radio__button + .radio__desc::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -76px;
  width: 55px;
  height: 55px;
  background-color: @bg_input;
  border-radius: 50%;
}

.radio__button:checked + .radio__desc::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -60px;
  width: 22px;
  height: 22px;
  background-color: @grey_text;
  border-radius: 50%;
}

.radio__button:hover + .radio__desc::before,
.checkbox__button:hover + .checkbox__desc::before {
  background-color: @border_form;
}

.radio__button:active + .radio__desc::before,
.checkbox__button:active + .checkbox__desc::before {
  background-color: @radio_active;
}

.radio__button:checked:active + .radio__desc::after,
.checkbox__button:checked:active + .checkbox__desc::after {
  opacity: 0.3;
}

.checkbox__button + .checkbox__desc::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -78px;
  width: 56px;
  height: 56px;
  background-color: @bg_input;
  border-radius: 3px;
}

.checkbox__button:checked + .checkbox__desc::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -62px;
  width: 24px;
  height: 17px;
  background-image: url("../img/tick.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
