.page-footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

.page-footer__wrapper {
  text-align: center;
  padding: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

.page-footer__heshtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.copyright__text {
  font-weight: normal;
  line-height: 26px;
}

.page-footer__social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.social__link {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: @bg_blue;
  margin-right: 6px;
}
