.page-video__wrapper {
  margin: 0 auto;
  padding: 30px 40px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 58px 60px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 120px 0;
  }
}

.page-video__box {
  //width: 100%;
  height: auto;
  padding-top: 34px;

  @media (min-width: @tablet-width) {
    padding: 83px 60px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 79px 200px 0;
  }
}

.page-video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.page-video__description {
  line-height: 24px;
  padding-top: 30px;
  margin: 0;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}
