.page-catalog__wrapper {
  padding: 30px 20px;
  text-align: center;
}

.page-catalog__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.page-catalog__text {
  line-height: 24px;
  color: @grey_text;
}

.page-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
